:root {
    --branco: #ffff;
    --branco-rosado: #fefae0;
    --vermelho: #8d0801;
    --verde: #31572c;
}


/*Menu suspenso*/
.catalogo-link:hover + .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: rgb(35, 167, 207); 
    border: 1px solid #ccc; /* Adicione uma borda ao redor do menu suspenso */
    transition: opacity 0.5s ease; /* Adicione uma transição de opacidade */
    transition-delay: 0.5s; /* Aumente o tempo de atraso da transição */
}

p {
    /*width: 100px;*/
    text-indent: 2em;
    margin: 10px;
}

main{
    background-image: url(../images/garden.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    
}

#texto-sobre {
    border: 5px solid transparent;
    font-family: 'Cormorant Garamond';
    font-size: 30px;
    background-color: #fefae0e7;
    border-radius: 50px;
    color: var(--vermelho);
    border-color: var(--verde);
    max-width: 800px;
    margin: 0 auto; 
}


header, footer {
    background-color: var(--branco-rosado);
    color: var(--vermelho);
}