:root {
    --branco: #ffff;
    --branco-rosado: #fefae0;
    --vermelho: #8d0801;
    --verde: #31572c;
}

p {
    /*width: 100px;*/
    text-indent: 2em;
    margin: 10px;
}

main{
    background-image: url(../images/garden.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    
}

#texto-sobre {
    border: 5px solid transparent;
    font-family: 'Cormorant Garamond';
    font-size: 30px;
    background-color: #fefae0e7;
    border-radius: 50px;
    color: var(--vermelho);
    border-color: var(--verde);
    max-width: 800px;
    margin: 0 auto; 
}


header, footer {
    background-color: var(--branco-rosado);
    color: var(--vermelho);
}